{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the Article Review </title>
    {% endif %}
</head>

<body>
    <h3> Top Headlines</h3>
    <ul>
        {{ macro.displayNewsList(headlines)}}
    </ul>
    <h3> Everything News</h3>
    <ul>
        {{ macro.displayNewsList(everything)}}
    </ul>
    <h3> Sources</h3>
    <ul>
        {{ macro.displayNewsList(sources)}}
    </ul>
</body>

</html>